@model IEnumerable<ethko.Models.GetLeadListViewModel>
@{
    ViewBag.Title = "Active Leads";
}
<br />
<a class="btn btn-primary" href='@Url.Action("Index", "Leads")'>Dashboard</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("LeadInsights", "Leads")'>Lead Insights</a>&nbsp;
<br />
<br />
<a class="btn btn-primary" href='@Url.Action("Index", "Leads")'>Active</a>
<a class="btn btn-default" href='@Url.Action("Status", "Leads")'>Status</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("DidNotHire", "Leads")'>Did Not Hire</a>
<a class="btn btn-default" href='@Url.Action("Converted", "Leads")'>Converted</a>
<h2>
    @ViewBag.Title
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#NewLeadModalCenter" style="float: right">+ Add Lead</button>
</h2>
@Html.AntiForgeryToken()
<hr />
<!DOCTYPE html>
<html lang="en">
<body style="margin:20px auto">
    <div class="container">
        <table id="myTable" class="table table-hover table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Source</th>
                    <th>Status</th>
                    <th>Practice Area</th>
                    <th>Value</th>
                    <th>Assign To</th>
                    <th>Date Added</th>
                    <th>Referred By</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int i = 0;
                    foreach (var item in Model)
                    {
                        i++;
                        string e = "e" + i.ToString();
                        string d = "d" + i.ToString();
                        string v = "v" + i.ToString();
                        <tr>
                            <td>
                                <div class="edit">
                                    <a href="" data-toggle="modal" data-target='#@v'>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </a>
                                </div>
                                <div class="modal fade" id='@v' tabindex="-1" role="dialog" aria-labelledby="ViewContactModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ViewContactModalCenterTitle">View Contact</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                               asdf
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="edit">
                                    <a href="" data-toggle="modal" data-target='#@v'>
                                       asdf
                                    </a>
                                </div>
                            </td>
                            <td>
                               asdf

                            </td>
                            <td>
                                5

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                                by @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                <div class="edit">
                                    <a href="" data-toggle="modal" data-target='#@e'>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 8 8">
                                            <title>Edit</title>
                                            <path d="M6 0l-1 1 2 2 1-1-2-2zm-2 2l-4 4v2h2l4-4-2-2z" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="modal fade" id='@e' tabindex="-1" role="dialog" aria-labelledby="DeleteUserTypeModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="NewCompanyModalCenterTitle">Edit Contact</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                              asdf
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                @if (Model == null)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html>