<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title>Ethko</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .copyright {
            float: left;
        }

        .links {
            float: right;
        }

        #footer {
            position: fixed;
            bottom: 0;
            right: 0;
        }

        #top {
            position: fixed;
            top: 0;
            right: 0;
        }
    </style>
    <style>
        .pace {
            -webkit-pointer-events: none;
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .pace-inactive {
            display: none;
        }

        .pace .pace-progress {
            background: #29d;
            position: fixed;
            z-index: 2000;
            top: 0;
            right: 100%;
            width: 100%;
            height: 2px;
        }
    </style>
    <script src="https://kit.fontawesome.com/47b5526f1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #c4c4c4;
        }
    </style>
    <link rel="stylesheet" href="~/Content/svg.css">
</head>
<body>
    <div class="modal fade" id="NewContactModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewContactModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewContactModalCenterTitle">Add Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewContactModal", "Contacts")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewContactGroupModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewContactGroupModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewContactGroupModalCenterTitle">Add Contact Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewContactGroupModal", "Contacts")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewCompanyModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewCompanyModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Company</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewCompanyModal", "Contacts")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewBillingMethodModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewBillingMethodModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Billing Method</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewBillingMethodModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewCaseStageModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewCaseStageModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Case Stage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewCaseStageModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewLeadReferralSourceModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewLeadReferralSourceModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Lead Referral Source</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewLeadReferralSourceModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewLeadStatusModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewLeadStatusModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Lead Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewLeadStatusModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewOfficeModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewOfficeModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Office</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewOfficeModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewUserTypeModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewUserTypeModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add User Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewUserTypeModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewToDoModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewToDoModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewToDoModalCenterTitle">Add To-Do</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewToDoModal", "ToDos")
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        @if (Request.IsAuthenticated)
        {
            <div id="top">
                <div class="btn-group dropleft">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-hourglass"></i> Start Timer
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <form class="px-4 py-3">
                                <div class="clock" style="margin:2em;"></div>
                                <div class="message"></div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                            <div id="t" class="badge">00:00</div>
                            <button id="btn">Start</button>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus"></i> Add Item
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href='@Url.Action("Index", "Manage")'><i class="fas fa-calendar-plus"></i> Add Event</a>
                            <a class="dropdown-item" href='@Url.Action("Index", "Manage")'><i class="fas fa-file"></i> Add Document</a>
                            <a class="dropdown-item" href='@Url.Action("Index", "Manage")'><i class="fas fa-check"></i> Add Task</a>
                            <a class="dropdown-item" href='@Url.Action("Index", "Manage")'><i class="fas fa-child"></i> Add Lead</a>
                            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#NewContactModalCenter">
                                <i class="fas fa-id-card"></i>
                                Add Contact
                            </button>
                            <a class="dropdown-item" href='@Url.Action("New", "Cases")'><i class="fas fa-briefcase"></i> Add Case</a>
                            <a class="dropdown-item" href='@Url.Action("Index", "Manage")'><i class="fas fa-envelope"></i> New Message</a>
                            <a class="dropdown-item" href='@Url.Action("Index", "Manage")'><i class="fas fa-clock"></i> Add Time Entry</a>
                            <a class="dropdown-item" href='@Url.Action("Index", "Manage")'><i class="fas fa-money-bill-wave"></i> Add Expense</a>
                            <a class="dropdown-item" href='@Url.Action("Index", "Manage")'><i class="fas fa-money-check-alt"></i> Add Invoice</a>
                            <a class="dropdown-item" href='@Url.Action("Index", "Manage")'><i class="fas fa-pencil-alt"></i> Add Note</a>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="footer">
                        <div class="btn-group dropup links">
                            <a class="btn btn-secondary" href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Logout</a>
                            <a class="btn btn-secondary" href='@Url.Action("Index", "Manage")'>Settings</a>
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Settings</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href='@Url.Action("Index", "Manage")'>Settings Dashboard</a>
                                <a class="dropdown-item" href='@Url.Action("MyProfile", "Manage")'>My Profile</a>
                                <a class="dropdown-item" href='@Url.Action("MySettings", "Manage")'>My Settings</a>
                                <a class="dropdown-item" href='@Url.Action("MyNotifications", "Manage")'>My Notifications</a>
                                <a class="dropdown-item" href='@Url.Action("FirmUsers", "Manage")'>Firm Users</a>
                                <a class="dropdown-item" href='@Url.Action("FirmSettings", "Manage")'>Firm Settings</a>
                                <a class="dropdown-item" href='@Url.Action("ClientBilling", "Manage")'>Client Billing</a>
                                <a class="dropdown-item" href='@Url.Action("ImportExport", "Manage")'>Import/Export</a>
                                <a class="dropdown-item" href='@Url.Action("CustomFields", "Manage")'>Custom Fields</a>
                                <a class="dropdown-item" href='@Url.Action("IntakeForms", "Manage")'>Intake Forms</a>
                                <a class="dropdown-item" href='@Url.Action("Workflows", "Manage")'>Workflows</a>
                                <a class="dropdown-item" href='@Url.Action("CaseStages", "Manage")'>Case Stages</a>
                                <a class="dropdown-item" href='@Url.Action("Leads", "Manage")'>Leads</a>
                            </div>
                        </div>
                    </div>
                    <img class="copyright" src="~/Content/img/logo.png" alt="SCS" style="width:50px;">
                }
            </footer>

        }
        else
        {
            <footer>
                <img src="~/Content/img/logo.png" alt="SCS" style="width:50px;">
            </footer>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/timer/timer.jquery.js"></script>
    <script>
        (function () {

            $("#btn").click(function () {
                switch ($(this).html().toLowerCase()) {

                    case "start":
                        $("#t").timer({
                            action: 'start',
                            seconds: 0
                        });
                        $(this).html("Pause");
                        $("input[name='s']").attr("disabled", "disabled");
                        $("#t").addClass("badge-important");
                        break;

                    case "resume":
                        $("#t").timer('resume');
                        $(this).html("Pause")
                        $("#t").addClass("badge-important");
                        break;

                    case "pause":
                        //you can specify action via object
                        $("#t").timer({ action: 'pause' });
                        $(this).html("Resume")
                        $("#t").removeClass("badge-important");
                        break;

                }
            });

        })();
    </script>
    <script>
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
</body>
</html>