<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title>Ethko</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .copyright {
            float: left;
        }

        .links {
            float: right;
        }
    </style>

</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        @if (Request.IsAuthenticated)
        {
        <footer>
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            <div class="btn-group dropup links">
                <a class="btn btn-secondary" href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Logout</a>
                <a class="btn btn-secondary" href='@Url.Action("Index", "Manage")'>Settings</a>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Settings</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href='@Url.Action("Index", "Manage")'>Settings Dashboard</a>
                    <a class="dropdown-item" href='@Url.Action("MyProfile", "Manage")'>My Profile</a>
                    <a class="dropdown-item" href='@Url.Action("MySettings", "Manage")'>My Settings</a>
                    <a class="dropdown-item" href='@Url.Action("MyNotifications", "Manage")'>My Notifications</a>
                    <a class="dropdown-item" href='@Url.Action("FirmUsers", "Manage")'>Firm Users</a>
                    <a class="dropdown-item" href='@Url.Action("FirmSettings", "Manage")'>Firm Settings</a>
                    <a class="dropdown-item" href='@Url.Action("ClientBilling", "Manage")'>Client Billing</a>
                    <a class="dropdown-item" href='@Url.Action("ImportExport", "Manage")'>Import/Export</a>
                    <a class="dropdown-item" href='@Url.Action("CustomFields", "Manage")'>Custom Fields</a>
                    <a class="dropdown-item" href='@Url.Action("IntakeForms", "Manage")'>Intake Forms</a>
                    <a class="dropdown-item" href='@Url.Action("Workflows", "Manage")'>Workflows</a>
                    <a class="dropdown-item" href='@Url.Action("CaseStages", "Manage")'>Case Stages</a>
                    <a class="dropdown-item" href='@Url.Action("Leads", "Manage")'>Leads</a>
                </div>
            </div>
                <img class="copyright" src="../content/img/SAP_R_grad.png" alt="SAP" style="width:75px;height:37px;">
            }
        </footer>
        }
        else
        {
            <footer>
                <img src="../content/img/SAP_R_grad.png" alt="SAP" style="width:75px;height:37px;">
            </footer>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("Scripts", required: false)
</body>
</html>
