@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="modal fade" id="NewContactModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewContactModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewContactModalCenterTitle">Add Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewContactModal", "Contacts")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewContactGroupModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewContactGroupModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewContactGroupModalCenterTitle">Add Contact Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewContactGroupModal", "Contacts")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewCompanyModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewCompanyModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Company</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewCompanyModal", "Contacts")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewBillingMethodModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewBillingMethodModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Billing Method</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewBillingMethodModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewCaseStageModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewCaseStageModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Case Stage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewCaseStageModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewLeadReferralSourceModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewLeadReferralSourceModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Lead Referral Source</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewLeadReferralSourceModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewLeadStatusModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewLeadStatusModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Lead Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewLeadStatusModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewOfficeModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewOfficeModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add Office</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewOfficeModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewUserTypeModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewUserTypeModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCompanyModalCenterTitle">Add User Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewUserTypeModal", "Manage")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewToDoModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewToDoModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewToDoModalCenterTitle">Add To-Do</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewToDoModal", "ToDos")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewPracticeAreaModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewPracticeAreaModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewPracticeAreaModalCenterTitle">Add Practice Area</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewPracticeAreaModal", "Cases")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewCaseModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewCaseModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewCaseModalCenterTitle">Add Case</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewCaseModal", "Cases")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewLeadModalCenter" tabindex="-1" role="dialog" aria-labelledby="NewLeadModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewLeadModalCenterTitle">Add Lead</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("NewLeadModal", "Leads")
                </div>
            </div>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}