@model IEnumerable<ethko.Models.GetDocumentsViewModel>
@{
    ViewBag.Title = "Firm Documents";
}
<br />
<a class="btn btn-default" href='@Url.Action("Index", "Documents")'>Case Documents</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("Firm", "Documents")'>Firm Documents</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("Templates", "Documents")'>Templates</a>&nbsp;
<br />
<br />
<h2>
    @ViewBag.Title
</h2>
@using (Html.BeginForm("Index", "Documents", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <!DOCTYPE html>
    <html lang="en">
    <body style="margin:20px auto">
        <div class="container">
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Case</th>
                        <th>Uploaded By</th>
                        <th>Download</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href='@Url.Action("ViewDocument", "Documents", new { DocumentId = item.DocumentId})'>@Html.DisplayFor(modelItem => item.DocumentName)</a>
</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CaseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InsDate)
                                    by @Html.DisplayFor(modelItem => item.FullName)

                                </td>
                                <td>
svg here
                                </td>
                                <td>
asdf
                                </td>
                            </tr>
                        }
                    }
                    @if (Model == null)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </body>
</html>
}