@model ethko.Models.AddContactGroupViewModel

<br />
<a class="btn btn-default" href='@Url.Action("Index", "Contacts")'>Contacts</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("Companies", "Contacts")'>Companies</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("ContactGroups", "Contacts")'>Contact Groups</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("New", "Contacts")'>Add Contact Group</a>&nbsp;


<br />
<h1>Add Group</h1>
<center>
    <p>
        <div class="col-md-12">
            @using (Html.BeginForm("NewGroup", "Contacts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-4" align="left">
                        @Html.TextBoxFor(m => m.ContactGroupName, new { @class = "form-control", placeholder = "Group Name" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a class="btn btn-default" href='@Url.Action("ContactGroups", "Contacts")'>Cancel</a>
                        <input type="submit" class="btn btn-success" value="Save Group" />
                    </div>
                </div>
            }
        </div>
    </p>
</center>