@model ethko.Models.AddCompanyViewModel
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<br />
    <p>
        <div class="col-md-12">
            @using (Html.BeginForm("NewCompany", "Contacts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Name
                    </div>
                    <div class="col-md-4" align="left">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Email
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "example@ethko.com" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Website
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.Website, new { @class = "form-control", placeholder = "mycompany.com" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Main Phone
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.MainPhone, new { @class = "form-control", placeholder = "555-555-5555" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Fax Number
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control", placeholder = "555-555-5555" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Address
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "123 Main Street" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Address 2
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", placeholder = "Apt B" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        City
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Birmingham" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        State
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "AL" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Zip
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", placeholder = "55555" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Country
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.Country, new { @class = "form-control", placeholder = "USA" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-success" value="Save Company" />
                    </div>
                </div>
            }
        </div>
    </p>