@model ethko.Contact
@{
    ViewBag.Title = "Delete Contact";
}

<br />
<a class="btn btn-default" href='@Url.Action("Index", "Contacts")'>Contacts</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("Companies", "Contacts")'>Companies</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("ContactGroups", "Contacts")'>Contact Groups</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("ViewContact", "Contacts")'>Contact Details</a>&nbsp;
<br />
<h1>Delete Contact</h1>

@using (Html.BeginForm("DeleteConfirmed", "Contacts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <font color="red">
        <h3>Really DELETE this user?  This action is irreversible!</h3>
    </font>
    <br />
    <h3>Contact: </h3>
    @Html.DisplayFor(m => m.FName)
    <br />
    @Html.DisplayFor(m => m.MName)
    <br />
    @Html.DisplayFor(m => m.LName)
    <br />
    <br />
    <br />
    <br />
    @Html.AntiForgeryToken()
    <a class="btn btn-danger" href='@Url.Action("DeleteConfirmed", "Contacts", new { ContactId = Model.ContactId })'>Delete Contact</a>
}

