@model ethko.Contact
@using (Html.BeginForm("EditContact", "Contacts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <form>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
            <div class="col">
                <input type="text" class="form-control" id="colFormLabel" placeholder="First Name">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="colFormLabel" placeholder="M">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="colFormLabel" placeholder="Last Name">
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Email">
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">Contact Group</label>
            <div class="col-sm-10">
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">Enable Client Portal</label>
            <div class="col-sm-10">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">No</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Yes</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">Cell Phone</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="colFormLabel" placeholder="(555) 555-5555">
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">Work Phone</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="colFormLabel" placeholder="(555) 555-5555">
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">Home Phone</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="colFormLabel" placeholder="(555) 555-5555">
            </div>
        </div>
    </form>
















    @Html.AntiForgeryToken()
    <hr />
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        @Html.ValidationSummary(true)
    </head>
    <body style="margin:20px auto">
        <div class="col-md-2">
            <div class="well">
                @Html.ValidationSummary(true)
                <input type="submit" class="btn btn-success" value="Save Contact" />
            </div>
        </div>
        <div class="col-md-10">
            <div class="tabbable">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
                    <li><a href="#cases" data-toggle="tab">Cases</a></li>
                    <li><a href="#activity" data-toggle="tab">Activity</a></li>
                    <li><a href="#notes" data-toggle="tab">Notes</a></li>
                    <li><a href="#billing" data-toggle="tab">Billing</a></li>
                    <li><a href="#messages" data-toggle="tab">Messages</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="info">
                        <div class="col-md-8">
                            <br />
                            <div class="well">
                                <h4>Contact Information</h4>
                                First Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.FName) @Html.ValidationMessageFor(m => m.FName)
                                <br />
                                <br />
                                Middle Name:&nbsp;@Html.EditorFor(m => m.MName) @Html.ValidationMessageFor(m => m.MName)
                                <br />
                                <br />
                                Last Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.LName) @Html.ValidationMessageFor(m => m.LName)
                                <br />
                                <br />
                                Company:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.CompanyId) @Html.ValidationMessageFor(m => m.CompanyId)
                                <br />
                                <br />
                                Job Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.JobTitle) @Html.ValidationMessageFor(m => m.JobTitle)
                                <br />
                                <br />
                                Group:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.ContactGroupId) @Html.ValidationMessageFor(m => m.ContactGroupId)
                                <br />
                                <br />
                                Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <br />
                            <div class="well">
                                <h4>Portal Access</h4>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <br />
                            <div class="well">
                                <h4>Phone Numbers</h4>
                                Home:&nbsp;@Html.EditorFor(m => m.HomePhone) @Html.ValidationMessageFor(m => m.HomePhone)
                                <br />
                                <br />
                                Work:&nbsp;&nbsp;@Html.EditorFor(m => m.WorkPhone) @Html.ValidationMessageFor(m => m.WorkPhone)
                                <br />
                                <br />
                                Cell:&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.CellPhone) @Html.ValidationMessageFor(m => m.CellPhone)
                                <br />
                                <br />
                                Fax:&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.Fax) @Html.ValidationMessageFor(m => m.Fax)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <br />
                            <div class="well">
                                <h4>Address</h4>
                                Street:&nbsp;@Html.EditorFor(m => m.Address) @Html.ValidationMessageFor(m => m.Address)
                                <br />
                                <br />
                                Apt:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.Address2) @Html.ValidationMessageFor(m => m.Address2)
                                <br />
                                <br />
                                City:&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.City) @Html.ValidationMessageFor(m => m.City)
                                <br />
                                <br />
                                State:&nbsp;&nbsp;@Html.EditorFor(m => m.State) @Html.ValidationMessageFor(m => m.State)
                                <br />
                                <br />
                                Zip:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(m => m.Zip) @Html.ValidationMessageFor(m => m.Zip)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <div class="well">
                                <h4>Other Information</h4>
                                Birthday:&nbsp;@Html.EditorFor(m => m.Birthday) @Html.ValidationMessageFor(m => m.Birthday)
                                <br />
                                <br />
                                License:&nbsp;&nbsp;@Html.EditorFor(m => m.License) @Html.ValidationMessageFor(m => m.License)
                                <br />
                                <br />
                                Website:&nbsp;@Html.EditorFor(m => m.Website) @Html.ValidationMessageFor(m => m.Website)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <div class="well">
                                <h4>Notes</h4>
                                @Html.EditorFor(m => m.Notes) @Html.ValidationMessageFor(m => m.Notes)
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="cases">
                        <div class="well">
                            <p>Howdy, I'm in Section 2.</p>
                        </div>
                    </div>
                    <div class="tab-pane" id="activity">
                        <div class="well">
                            <p>Howdy, I'm in Section 2.</p>
                        </div>

                    </div>
                    <div class="tab-pane" id="notes">
                        <div class="well">
                            <p>Howdy, I'm in Section 2.</p>
                        </div>
                    </div>
                    <div class="tab-pane" id="billing">
                        <div class="well">
                            <p>Howdy, I'm in Section 2.</p>
                        </div>
                    </div>
                    <div class="tab-pane" id="messages">
                        <div class="well">
                            <p>Howdy, I'm in Section 2.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <br />

        </div>
    </body>
</html>
}