@model ethko.ContactGroup
@{
    ViewBag.Title = "Edit Contact Group";
}

<br />
<a class="btn btn-default" href='@Url.Action("Index", "Contacts")'>Contacts</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("Companies", "Contacts")'>Companies</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("ContactGroups", "Contacts")'>Contact Groups</a>&nbsp;
<br />
<h1>Edit Contact Group</h1>
@using (Html.BeginForm("EditSave", "Contacts", new { @class = "form-horizontal", role = "form", ContactGroupId = Model.ContactGroupId }))
{
    <br />
    <h3>Contact Group: <input name="NewContactGroup" type="text" placeholder=@Html.DisplayTextFor(m => m.ContactGroupName)></h3>
    <br />
    <br />
    <br />
    <br />
    @Html.AntiForgeryToken()
    <a class="btn btn-default" href='@Url.Action("ContactGroups", "Contacts")'>Cancel</a>@Html.Raw("   ")<input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
}