@model IEnumerable<ethko.Models.GetContactGroupListViewModel>
@{
    ViewBag.Title = "Contact Groups";
}

<br />
<a class="btn btn-default" href='@Url.Action("Index", "Contacts")'>Contacts</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("Companies", "Contacts")'>Companies</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("ContactGroups", "Contacts")'>Contact Groups</a>&nbsp;
<br />
<br />
<h2>
    @ViewBag.Title
    <a class="btn btn-success" href='@Url.Action("NewGroup", "Contacts")' rel="modal:open" style="float: right">+ Add Contact Group</a>
</h2>

<head>
    <link rel="stylesheet" href="~/Content/svg.css">
</head>


@using (Html.BeginForm("ContactGroups", "Contacts", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Final Output</title>
        <meta name="description" content="Bootstrap.">

    </head>
    <body style="margin:20px auto">
        <div class="container">
            <br />
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>Contacts</th>
                        <th>Added</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            <a href='@Url.Action("ContactGroups", "Contacts", new { ContactGroupId = item.ContactGroupId})'>@Html.DisplayFor(modelItem => item.ContactGroupName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InsDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InsDate)
                            by <a href='@Url.Action("ContactGroups", "Contacts")'>@Html.DisplayFor(modelItem => item.FstUser)</a>
                        </td>
                        <td>
                            <div class="edit">
                                <a href='@Url.Action("EditContactGroup", "Contacts", new { ContactGroupId = item.ContactGroupId })'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 8 8">
                                        <title>Edit</title>
                                        <path d="M6 0l-1 1 2 2 1-1-2-2zm-2 2l-4 4v2h2l4-4-2-2z" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="delete">
                                <a href='@Url.Action("DeleteGroup", "Contacts", new { ContactGroupId = item.ContactGroupId })'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 8 8">
                                        <title>Delete</title>
                                        <path d="M3 0c-.55 0-1 .45-1 1h-1c-.55 0-1 .45-1 1h7c0-.55-.45-1-1-1h-1c0-.55-.45-1-1-1h-1zm-2 3v4.81c0 .11.08.19.19.19h4.63c.11 0 .19-.08.19-.19v-4.81h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1z" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </body>

</html>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <style>

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #c4c4c4;
        }
    </style>
}
