@model ethko.Models.AddCaseViewModel
<br />
<a class="btn btn-default" href='@Url.Action("Index", "Cases")'>Cases</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("PracticeAreas", "Cases")'>Practice Areas</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("CaseInsights", "Cases")'>Case Insights</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("New", "Contacts")'>Add Case</a>&nbsp;

<head>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".add-row").click(function () {
                var name = $("#txtCustomer").val();
                var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + "</td></tr>";
                $("table tbody").append(markup);
                document.getElementById('txtCustomer').value = "";
            });

            // Find and remove selected table rows
            $(".delete-row").click(function () {
                $("table tbody").find('input[name="record"]').each(function () {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });
        });
    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<br />
<h1>Add Case</h1>
@using (Html.BeginForm("New", "Cases", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="col-md-12">
        <div class="container">
            <div class="row form-group">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                        <li class="active">
                            <a href="#step-1">
                                <h4 class="list-group-item-heading">1</h4>
                                <p class="list-group-item-text">Clients & Contacts</p>
                            </a>
                        </li>
                        <li class="disabled">
                            <a href="#step-2">
                                <h4 class="list-group-item-heading">2</h4>
                                <p class="list-group-item-text">Case Details</p>
                            </a>
                        </li>
                        <li class="disabled">
                            <a href="#step-3">
                                <h4 class="list-group-item-heading">3</h4>
                                <p class="list-group-item-text">Billing</p>
                            </a>
                        </li>
                        <li class="disabled">
                            <a href="#step-4">
                                <h4 class="list-group-item-heading">4</h4>
                                <p class="list-group-item-text">Staff</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row setup-content" id="step-1">
                <div class="col-xs-12">
                    <div class="col-md-12 well">
                        <div class="form-group">
                            <div class="col-md-7" align="left">
                                @ViewBag.Message
                                @Html.ActionLink("Add a new contact", "New", "Contacts") | @Html.ActionLink("Add a new company", "NewCompany", "Contacts")
                                @Html.TextBoxFor(m => m.CaseContact, new { @class = "form-control", @id = "txtCustomer", @name = "CustomerName", placeholder = "Search for a contact or company" })<input type="button" class="btn btn-sm btn-default add-row" value="Add to Case" />
                            </div>
                            <div class="col-md-5" align="left">
                                <input type="button" class="btn btn-sm btn-danger delete-row" value="Remove" />
                                <table id="myTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Case Contacts</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button id="activate-step-2" class="btn btn-success btn-sm">Continue to Case Details</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-2">
                <div class="col-xs-12">
                    <div class="col-md-12 well">
                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Case Name
                            </div>
                            <div class="col-md-10" align="left">
                                @Html.TextBoxFor(m => m.CaseName, new { @class = "form-control", placeholder = "e.g. John Doe - Divorce" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Case Number
                            </div>
                            <div class="col-md-10" align="left">
                                @Html.TextBoxFor(m => m.CaseName, new { @class = "form-control", placeholder = "A Unique Identifier" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Practice Area
                            </div>
                            <div class="col-md-10" align="left">
                                @Html.DropDownList("PracticeAreas", (IEnumerable<SelectListItem>)ViewData["DBContactGroupsPracticeArea"], new { @class = "form-control" })
                                @Html.ActionLink("Add new practice area", "NewPracticeArea")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Case Stage
                            </div>
                            <div class="col-md-10" align="left">
                                @Html.DropDownList("CaseStages", (IEnumerable<SelectListItem>)ViewData["DBContactGroupsCaseStage"], new { @class = "form-control" })
                                @Html.ActionLink("Manage case stages in Settings", "CaseStages", "Manage")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Date Opened
                            </div>
                            <div class="col-md-10" align="left">
                                <div class="row">
                                    <div class='col-sm-6'>
                                        <input type='text' class="form-control" id='datetimepicker4' />
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker4').datetimepicker();
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Office
                            </div>
                            <div class="col-md-10" align="left">
                                @Html.DropDownList("Offices", (IEnumerable<SelectListItem>)ViewData["DBOffice"], new { @class = "form-control" })
                                @Html.ActionLink("Manage office locations in Settings", "FirmSettings", "Manage")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Description
                            </div>
                            <div class="col-md-10" align="left">
                                @Html.TextAreaFor(m => m.Office, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Statute of Limitations
                            </div>
                            <div class="col-md-10" align="left">
                                <div class="row">
                                    <div class='col-sm-6'>
                                        <input type='text' class="form-control" id='datetimepicker5' />
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker5').datetimepicker();
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <button id="activate-step-3" class="btn btn-success btn-sm">Continue to Billing</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-3">
                <div class="col-xs-12">
                    <div class="col-md-12 well">
                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Billing Contact
                            </div>
                            <div class="col-md-10" align="left">
                                @Html.TextBoxFor(m => m.CaseContact, new { @class = "form-control", @id = "txtCustomer2", @name = "CustomerName", placeholder = "Search for an existing contact or company" })<input type="button" class="btn btn-sm btn-default add-row" value="Add to Case" />
                                Choosing a billing contact allows you to batch bill this case.
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Billing Method
                            </div>
                            <div class="col-md-10" align="left">
                                @Html.DropDownList("BillingMethods", (IEnumerable<SelectListItem>)ViewData["DBBillingMethods"], new { @class = "form-control" })
                                @Html.ActionLink("Manage billing methods in Settings", "ClientBilling", "Manage")
                            </div>
                        </div>


                        <button id="activate-step-4" class="btn btn-success btn-sm">Continue to Staff</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-4">
                <div class="col-xs-12">
                    <div class="col-md-12 well">
                        <div class="form-group">
                            <div class="col-md-2" align="left">
                                Lead Attorney
                            </div>
                            <div class="col-md-10" align="left">
                                @Html.TextBoxFor(m => m.CaseContact, new { @class = "form-control", @id = "txtCustomer2", @name = "CustomerName", placeholder = "Select a lead attorney for this case" })<input type="button" class="btn btn-sm btn-default add-row" value="Add to Case" />
                                Choosing a billing contact allows you to batch bill this case.
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success" value="Save Case" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        var navListItems = $('ul.setup-panel li a'),
            allWells = $('.setup-content');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this).closest('li');

            if (!$item.hasClass('disabled')) {
                navListItems.closest('li').removeClass('active');
                $item.addClass('active');
                allWells.hide();
                $target.show();
            }
        });

        $('ul.setup-panel li.active a').trigger('click');

        $('#activate-step-2').on('click', function (e) {
            $('ul.setup-panel li:eq(1)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-2"]').trigger('click');
            $(this).remove();
        })

        $('#activate-step-3').on('click', function (e) {
            $('ul.setup-panel li:eq(2)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-3"]').trigger('click');
            $(this).remove();
        })

        $('#activate-step-4').on('click', function (e) {
            $('ul.setup-panel li:eq(3)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-4"]').trigger('click');
            $(this).remove();
        })
    });

</script>
