@model ethko.Models.AddCaseViewModel
<br />
<a class="btn btn-default" href='@Url.Action("Index", "Cases")'>Cases</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("PracticeAreas", "Cases")'>Practice Areas</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("CaseInsights", "Cases")'>Case Insights</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("New", "Contacts")'>Add Case</a>&nbsp;

<head>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
</head>
<br />
<h1>Add Case</h1>

    <p>
        <div class="col-md-12">
            @using (Html.BeginForm("New", "Cases", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <input type="hidden" id="hfCustomer" name="CustomerId" />
                @ViewBag.Message
                <h3>Case Details</h3>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Client Name
                    </div>
                    <div class="col-md-4" align="left">
                        @Html.TextBoxFor(m => m.CaseContact, new { @class = "form-control", @id = "txtCustomer", @name = "CustomerName", placeholder = "Search for an existing contact or company" })

                        @ViewBag.Message
                        @Html.ActionLink("Add a new contact", "New", "Contacts")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Case Name
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.CaseName, new { @class = "form-control", placeholder = "e.g. John Doe - Divorce" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Case Number
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.CaseName, new { @class = "form-control", placeholder = "A Unique Identifier" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Practice Area
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.DropDownList("PracticeAreas", (IEnumerable<SelectListItem>)ViewData["DBContactGroupsPracticeArea"], new { @class = "form-control" })
                        @Html.ActionLink("Add new practice area", "NewPracticeArea")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Case Stage
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.DropDownList("CaseStages", (IEnumerable<SelectListItem>)ViewData["DBContactGroupsCaseStage"], new { @class = "form-control" })
                        @Html.ActionLink("Manage case stages in Settings", "CaseStages", "Manage")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Date Opened
                    </div>
                    <div class="col-md-10" align="left">
                        <div class="row">
                            <div class='col-sm-6'>
                                <input type='text' class="form-control" id='datetimepicker4' />
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker4').datetimepicker();
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Office
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.DropDownList("Offices", (IEnumerable<SelectListItem>)ViewData["DBOffice"], new { @class = "form-control" })
                        @Html.ActionLink("Manage office locations in Settings", "Offices", "Manage")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Description
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextAreaFor(m => m.Office, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Statute of Limitations
                    </div>
                    <div class="col-md-10" align="left">
                        <div class="row">
                            <div class='col-sm-6'>
                                <input type='text' class="form-control" id='datetimepicker5' />
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker5').datetimepicker();
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <h3>Billing</h3>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Billing Contact
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.TextBoxFor(m => m.Statute, new { @class = "form-control", placeholder = "AL" })
                        Choosing a billing contact allows you to batch bill this case.
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" align="left">
                        Billing Method
                    </div>
                    <div class="col-md-10" align="left">
                        @Html.DropDownList("Offices", (IEnumerable<SelectListItem>)ViewData["DBOffice"], new { @class = "form-control" })
                        @Html.ActionLink("Manage billing methods in Settings", "ClientBilling", "Manage")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a class="btn btn-default" href='@Url.Action("Index", "Cases")'>Cancel</a>
                        <input type="submit" class="btn btn-success" value="Save Case" />
                    </div>
                </div>
            }
        </div>
    </p>