@model ethko.PracticeArea
@{
    ViewBag.Title = "Edit Practice Area";
}
<br />
<a class="btn btn-default" href='@Url.Action("Index", "Contacts")'>Contacts</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("Companies", "Contacts")'>Companies</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("ContactGroups", "Contacts")'>Contact Groups</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("ViewContact", "Contacts")'>Practice Area Details</a>&nbsp;
<br />
<br />
<h2>
    @ViewBag.Title
</h2>
    @using (Html.BeginForm("EditSave", "Cases", new { @class = "form-horizontal", role = "form", PracticeAreaId = Model.PracticeAreaId }))
    {
        <br />
        <h3>Practice Area: <input name="NewPracticeArea" type="text" placeholder=@Html.DisplayTextFor(m => m.PracticeAreaName)></h3>
        <br />
        <br />
        <br />
        <br />
        @Html.AntiForgeryToken()
        <a class="btn btn-default" href='@Url.Action("PracticeAreas", "Cases")'>Cancel</a>@Html.Raw("   ")<input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
    }