@model ethko.Models.AddCaseViewModel
<br />
<a class="btn btn-default" href='@Url.Action("Index", "Cases")'>Cases</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("PracticeAreas", "Cases")'>Practice Areas</a>&nbsp;
<a class="btn btn-default" href='@Url.Action("CaseInsights", "Cases")'>Case Insights</a>&nbsp;
<a class="btn btn-primary" href='@Url.Action("New", "Cases")'>Add Case</a>&nbsp;

<head>
    <link rel="stylesheet" href="~/Content/svg.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>
<br />
<body>
    <h1>Add Case</h1>
    @using (Html.BeginForm("New", "Cases", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-md-12">
            <div class="container">

                <div class="row">
                    <div class="col-2">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Clients & Contacts</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Case Details</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Billing</a>
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Staff</a>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <h3>Clients & Contacts</h3>
                                <div class="row">
                                    <br />
                                    <div class="col">
                                        <div class="input-group mb-lg-auto">
                                            @*<div class="input-group-prepend">
                                                <button class="btn btn-outline-primary" id="addRow" type="button">Add</button>
                                            </div>*@
                                            @Html.DropDownList("Contacts", (IEnumerable<SelectListItem>)ViewData["DBContacts"], new { @class = "custom-select", @id = "contact", @name = "contact" })
                                            <div class="input-group-append">
                                                <a class="btn btn-outline-secondary" href='@Url.Action("New", "Contacts")' type="button">New Contact</a>
                                                <a class="btn btn-outline-secondary" href='@Url.Action("NewCompany", "Contacts")' type="button">New Company</a>
                                            </div>
                                        </div>
                                        <label>Select a contact or company</label>
                                    </div>
                                </div>
                                @*<table id="example" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Case Contacts</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>*@
                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                <h3>Case Details</h3>
                                <div class="row">
                                    <br />
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Case Name
                                            </div>
                                            <div class="col-md-10" align="left">
                                                @Html.TextBoxFor(m => m.CaseName, new { @class = "form-control", placeholder = "e.g. John Doe - Divorce" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Case Number
                                            </div>
                                            <div class="col-md-10" align="left">
                                                @Html.TextBoxFor(m => m.CaseNumber, new { @class = "form-control", placeholder = "A Unique Identifier" })
                                                @Html.ValidationMessageFor(m => m.CaseNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Practice Area
                                            </div>
                                            <div class="col-md-10" align="left">
                                                @Html.DropDownList("PracticeAreas", (IEnumerable<SelectListItem>)ViewData["DBContactGroupsPracticeArea"], new { @class = "form-control" })
                                                @Html.ActionLink("Add new practice area", "NewPracticeArea")
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Case Stage
                                            </div>
                                            <div class="col-md-10" align="left">
                                                @Html.DropDownList("CaseStages", (IEnumerable<SelectListItem>)ViewData["DBContactGroupsCaseStage"], new { @class = "form-control" })
                                                @Html.ActionLink("Manage case stages in Settings", "CaseStages", "Manage")
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Date Opened
                                            </div>
                                            <div class="col-md-10" align="left">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="month">Month</label>
                                                    </div>
                                                    <select class="custom-select" id="month">
                                                        <option selected value="1">January</option>
                                                        <option value="2">February</option>
                                                        <option value="3">March</option>
                                                        <option value="4">April</option>
                                                        <option value="5">May</option>
                                                        <option value="6">June</option>
                                                        <option value="7">July</option>
                                                        <option value="8">August</option>
                                                        <option value="9">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="day">Day</label>
                                                    </div>
                                                    <select class="custom-select" id="day">
                                                        <option selected value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                    </select>
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="year">Year</label>
                                                    </div>
                                                    <select class="custom-select" id="year">
                                                        <option selected value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Office
                                            </div>
                                            <div class="col-md-10" align="left">
                                                @Html.DropDownList("Offices", (IEnumerable<SelectListItem>)ViewData["DBOffice"], new { @class = "form-control" })
                                                @Html.ActionLink("Manage office locations in Settings", "FirmSettings", "Manage")
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Description
                                            </div>
                                            <div class="col-md-10" align="left">
                                                @Html.TextAreaFor(m => m.OfficeId, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Statute of Limitations
                                            </div>
                                            <div class="col-md-10" align="left">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="month">Month</label>
                                                    </div>
                                                    <select class="custom-select" id="month">
                                                        <option selected value="1">January</option>
                                                        <option value="2">February</option>
                                                        <option value="3">March</option>
                                                        <option value="4">April</option>
                                                        <option value="5">May</option>
                                                        <option value="6">June</option>
                                                        <option value="7">July</option>
                                                        <option value="8">August</option>
                                                        <option value="9">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="day">Day</label>
                                                    </div>
                                                    <select class="custom-select" id="day">
                                                        <option selected value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                    </select>
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="year">Year</label>
                                                    </div>
                                                    <select class="custom-select" id="year">
                                                        <option selected value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                <h3>Billing</h3>
                                <div class="row">
                                    <br />
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Billing Contact
                                            </div>
                                            <div class="col-md-10" align="left">
                                                <div class="input-group mb-lg-auto">
                                                    @Html.DropDownList("BillingContacts", (IEnumerable<SelectListItem>)ViewData["DBContacts"], new { @class = "custom-select", @id = "contact", @name = "contact" })
                                                    <div class="input-group-append">
                                                        <a class="btn btn-outline-secondary" href='@Url.Action("New", "Contacts")' type="button">New Contact</a>
                                                    </div>
                                                </div>
                                                Choosing a billing contact allows you to batch bill this case.
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Billing Method
                                            </div>
                                            <div class="col-md-10" align="left">
                                                @Html.DropDownList("BillingMethods", (IEnumerable<SelectListItem>)ViewData["DBBillingMethods"], new { @class = "form-control" })
                                                @Html.ActionLink("Manage billing methods in Settings", "ClientBilling", "Manage")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                                <h3>Staff</h3>
                                <div class="row">
                                    <br />
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="col-md-2" align="left">
                                                Lead Attorney
                                            </div>
                                            <div class="col-md-10" align="left">
                                                <div class="input-group mb-lg-auto">
                                                    @Html.DropDownList("LeadAttorney", (IEnumerable<SelectListItem>)ViewData["DBAspNetUsers"], new { @class = "custom-select", @id = "contact", @name = "contact" })
                                                </div>
                                                Choosing a lead attorney.
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-success" value="Save Case" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var t = $('#example').DataTable();
            var value = document.getElementById('contact').value;
            var contactlist = document.getElementById('contact');

            $('#addRow').on('click', function () {
                if (document.getElementById('contact').tabIndex != -1){
                    t.row.add([
                        value,
                        HTMLTableRowElement = '<button class="btn btn-outline-danger" id="deleterow" type="button">Remove</button>'
                    ]).draw(false);
                }
                contactlist.remove(contactlist.value)
                document.getElementById('contact').tabIndex = -1;
            });
        });

        $(document).ready(function () {
        var table = $('#example').DataTable();

            $('#deleterow tbody').on('click', 'img.icon-delete', function () {
            table
                .row($(this).parents('tr'))
                .remove()
                .draw();
            });
        });
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    }
</body>
