@model IEnumerable<ethko.Models.GetToDosViewModel>
@{
    ViewBag.Title = "To-Do Items";
}

<br />
<h2>
    @ViewBag.Title
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#NewToDoModalCenter" style="float: right">+ Add To-Do</button>
</h2>
<head>
    <link rel="stylesheet" href="~/Content/svg.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

@using (Html.BeginForm("Index", "Cases", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <!DOCTYPE html>
    <html lang="en">
    <body style="margin:20px auto">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Incomplete</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Complete</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <br />
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <table id="myTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Priority</th>
                                        <th>Due</th>
                                        <th>Case / Lead</th>
                                        <th>Assigned To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <a href='@Url.Action("ViewToDo", "ToDos", new { ToDoId = item.ToDoId})'>@Html.DisplayFor(modelItem => item.ToDoName)</a>
                                                </td>
                                                <td>
                                                    <a href='@Url.Action("ViewToDo", "ToDos", new { PriorityId = item.PriorityId})'>@Html.DisplayFor(modelItem => item.PriorityName)</a>
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                            </tr>
                                        }
                                    }
                                    @if (Model == null)
                                    {
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    <script>
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

    <style>

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #c4c4c4;
        }
    </style>


    <script>
        function filterText() {
            var rex = new RegExp($('#filterText').val());
            if (rex == "/all/") { clearFilter() } else {
                $('.content').hide();
                $('.content').filter(function () {
                    return rex.test($(this).text());
                }).show();
            }
        }

        function clearFilter() {
            $('.filterText').val('');
            $('.content').show();
        }
    </script>
}