@model ethko.Models.AddFirmUserViewModel
<p>
    <div class="col-md-12">
        @using (Html.BeginForm("NewFirmUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-2" align="left">
                    Name
                </div>
                <div class="col-md-4" align="left">
                    @Html.TextBoxFor(m => m.FName, new { @class = "form-control", placeholder = "First Name" })
                </div>
                <div class="col-md-2" align="left">
                    @Html.TextBoxFor(m => m.MName, new { @class = "form-control", placeholder = "M" })
                </div>
                <div class="col-md-4" align="left">
                    @Html.TextBoxFor(m => m.LName, new { @class = "form-control", placeholder = "Last Name" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" value="Save Firm User" />
                </div>
            </div>
        }
    </div>
</p>