@model ethko.Models.AddFirmUserViewModel

<h2>Settings & Preferences</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Select a sub category from the menu on the left</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <a class="btn btn-default" href='@Url.Action("Index", "Manage")'>Settings Dashboard</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MyProfile", "Manage")'>My Profile</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MySettings", "Manage")'>My Settings</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MyNotifications", "Manage")'>My Notifications</a>
            <br />
            <br />
            <a class="btn btn-primary" href='@Url.Action("FirmUsers", "Manage")'>Firm Users</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("FirmSettings", "Manage")'>Firm Settings</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ClientBilling", "Manage")'>Client Billing</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ImportExport", "Manage")'>Import/Export</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CustomFields", "Manage")'>Custom Fields</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("IntakeForms", "Manage")'>Intake Forms</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("Workflows", "Manage")'>Workflows</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CaseStages", "Manage")'>Case Stages</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("Leads", "Manage")'>Leads</a>
        </dt>
        <dd>
            <div class="col-md-12" align="left">
                <h2>
                    Add Firm User
                </h2>
                <p>
                    <div class="col-md-12">
                        @using (Html.BeginForm("NewFirmUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-2" align="left">
                                    Name
                                </div>
                                <div class="col-md-4" align="left">
                                    @Html.TextBoxFor(m => m.FName, new { @class = "form-control", placeholder = "First Name" })
                                </div>
                                <div class="col-md-2" align="left">
                                    @Html.TextBoxFor(m => m.MName, new { @class = "form-control", placeholder = "M" })
                                </div>
                                <div class="col-md-4" align="left">
                                    @Html.TextBoxFor(m => m.LName, new { @class = "form-control", placeholder = "Last Name" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <a class="btn btn-default" href='@Url.Action("FirmUsers", "Manage")'>Cancel</a>
                                    <input type="submit" class="btn btn-success" value="Save Firm User" />
                                </div>
                            </div>
                        }
                    </div>
                </p>
            </div>
        </dd>
    </dl>
</div>