@model ethko.LeadReferralSource
@{
    ViewBag.Title = "Edit Lead Referral Source";
}


<h2>Settings & Preferences</h2>
<head>
    <link rel="stylesheet" href="~/Content/svg.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Select a sub category from the menu on the left</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <a class="btn btn-default" href='@Url.Action("Index", "Manage")'>Settings Dashboard</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MyProfile", "Manage")'>My Profile</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MySettings", "Manage")'>My Settings</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MyNotifications", "Manage")'>My Notifications</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("FirmUsers", "Manage")'>Firm Users</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("FirmSettings", "Manage")'>Firm Settings</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ClientBilling", "Manage")'>Client Billing</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ImportExport", "Manage")'>Import/Export</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CustomFields", "Manage")'>Custom Fields</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("IntakeForms", "Manage")'>Intake Forms</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("Workflows", "Manage")'>Workflows</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CaseStages", "Manage")'>Case Stages</a>
            <br />
            <br />
            <a class="btn btn-primary" href='@Url.Action("Leads", "Manage")'>Leads</a>
        </dt>
        <dd>
            <div class="col-md-12" align="left">
                <br />
                <br />
                <h1>Edit Lead Referral Source</h1>
                @using (Html.BeginForm("EditSave", "Manage", new { @class = "form-horizontal", role = "form", ReferralSourceId = Model.ReferralSourceId }))
                {
                    <br />
                    <h3>Referral Source: <input name="NewLeadReferralSource" type="text" placeholder=@Html.DisplayTextFor(m => m.ReferralSourceName)></h3>
                    <br />
                    <br />
                    <br />
                    <br />
                    @Html.AntiForgeryToken()
                    <a class="btn btn-default" href='@Url.Action("Leads", "Manage")'>Cancel</a>@Html.Raw("   ")<input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
                }
            </div>
        </dd>
    </dl>
</div>