@model ethko.LeadStatus
@{
    ViewBag.Title = "Edit Lead Status";
}


<h2>Settings & Preferences</h2>
<head>
    <link rel="stylesheet" href="~/Content/svg.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h4>Select a sub category from the menu on the left</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <a class="btn btn-secondary" href='@Url.Action("Index", "Manage")'>Settings Dashboard</a>
                    <a class="btn btn-secondary" href='@Url.Action("MyProfile", "Manage")'>My Profile</a>
                    <a class="btn btn-secondary" href='@Url.Action("MySettings", "Manage")'>My Settings</a>
                    <a class="btn btn-secondary" href='@Url.Action("MyNotifications", "Manage")'>My Notifications</a>
                    <a class="btn btn-secondary" href='@Url.Action("FirmUsers", "Manage")'>Firm Users</a>
                    <a class="btn btn-secondary" href='@Url.Action("FirmSettings", "Manage")'>Firm Settings</a>
                    <a class="btn btn-secondary" href='@Url.Action("ClientBilling", "Manage")'>Client Billing</a>
                    <a class="btn btn-secondary" href='@Url.Action("ImportExport", "Manage")'>Import/Export</a>
                    <a class="btn btn-secondary" href='@Url.Action("CustomFields", "Manage")'>Custom Fields</a>
                    <a class="btn btn-secondary" href='@Url.Action("IntakeForms", "Manage")'>Intake Forms</a>
                    <a class="btn btn-secondary" href='@Url.Action("Workflows", "Manage")'>Workflows</a>
                    <a class="btn btn-secondary" href='@Url.Action("CaseStages", "Manage")'>Case Stages</a>
                    <a class="btn btn-primary" href='@Url.Action("Leads", "Manage")'>Leads</a>
                </div>
            </div>
            <div class="col-10">
                <div class="col-md-12" align="left">
                    <br />
                    <br />
                    <h1>Edit Lead Status</h1>
                    @using (Html.BeginForm("EditSave", "Manage", new { @class = "form-horizontal", role = "form", LeadStatusId = Model.LeadStatusId }))
                    {
                        <br />
                        <h3>Lead Status: <input name="NewLeadStatus" type="text" placeholder=@Html.DisplayTextFor(m => m.LeadStatusName)></h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        @Html.AntiForgeryToken()
                        <a class="btn btn-default" href='@Url.Action("LeadStatus", "Manage")'>Cancel</a>@Html.Raw("   ")<input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>