@model ethko.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <a class="btn btn-primary" href='@Url.Action("Index", "Manage")'>Settings Dashboard</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MyProfile", "Manage")'>My Profile</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MySettings", "Manage")'>My Settings</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MyNotifications", "Manage")'>My Notifications</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("FirmUsers", "Manage")'>Firm Users</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("FirmSettings", "Manage")'>Firm Settings</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ClientBilling", "Manage")'>Client Billing</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ImportExport", "Manage")'>Import/Export</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CustomFields", "Manage")'>Custom Fields</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("IntakeForms", "Manage")'>Intake Forms</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("Workflows", "Manage")'>Workflows</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CaseStages", "Manage")'>Case Stages</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("Leads", "Manage")'>Leads</a>
        </dt>
        <dd>info for this tab</dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                }
            </dd>
        *@
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
        <dt>Offices:</dt>
        <dd>
            <p>
                @Html.ActionLink("Manage Offices", "Offices")
            </p>
        </dd>
    </dl>
</div>
