@model IEnumerable<ethko.Models.GetLeadReferralSourcesViewModel>


<h2>Settings & Preferences</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Select a sub category from the menu on the left</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <a class="btn btn-default" href='@Url.Action("Index", "Manage")'>Settings Dashboard</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MyProfile", "Manage")'>My Profile</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MySettings", "Manage")'>My Settings</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MyNotifications", "Manage")'>My Notifications</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("FirmUsers", "Manage")'>Firm Users</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("FirmSettings", "Manage")'>Firm Settings</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ClientBilling", "Manage")'>Client Billing</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ImportExport", "Manage")'>Import/Export</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CustomFields", "Manage")'>Custom Fields</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("IntakeForms", "Manage")'>Intake Forms</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("Workflows", "Manage")'>Workflows</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CaseStages", "Manage")'>Case Stages</a>
            <br />
            <br />
            <a class="btn btn-primary" href='@Url.Action("Leads", "Manage")'>Leads</a>
        </dt>
        <dd>
            <div class="col-md-12" align="left">
                <a class="btn btn-primary" href='@Url.Action("Leads", "Manage")'>Referral Sources</a>&nbsp;
                <a class="btn btn-default" href='@Url.Action("LeadStatus", "Manage")'>Statuses</a>
                <h2>
                    Referral Sources
                    <a class="btn btn-success" href='@Url.Action("NewLeadReferralSource", "Manage")' style="float: right">+ Add Referral Source</a>
                </h2>
                <table id="myTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Referral Source</th>
                            <th>Added</th>
                            <th>Edit / Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        <a href='@Url.Action("EditLeadReferralSource", "Manage", new { ReferralSourceId = item.ReferralSourceId})'>@Html.DisplayFor(modelItem => item.ReferralSourceName)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InsDate)
                                        by <a href='@Url.Action("ContactGroups", "Contacts")'>@Html.DisplayFor(modelItem => item.FstUser)</a>
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href='@Url.Action("EditLeadReferralSource", "Manage", new { ReferralSourceId = item.ReferralSourceId })'>Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-danger" href='@Url.Action("DeleteOffice", "Manage", new { ReferralSourceId = item.ReferralSourceId })'>Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            }
                        }
                        @if (Model == null)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </dd>
    </dl>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/app")
    <script>
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <style>

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #c4c4c4;
        }
    </style>


    <script>
        function filterText() {
            var rex = new RegExp($('#filterText').val());
            if (rex == "/all/") { clearFilter() } else {
                $('.content').hide();
                $('.content').filter(function () {
                    return rex.test($(this).text());
                }).show();
            }
        }

        function clearFilter() {
            $('.filterText').val('');
            $('.content').show();
        }
    </script>
}