@model IEnumerable<ethko.Models.GetEditNotificationsViewModel>

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/toggle/bootstrap-toggle.min.css" rel="stylesheet">

</head>
<h2>Settings & Preferences</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<body>
    <h4>Select a sub category from the menu on the left</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <a class="btn btn-secondary" href='@Url.Action("Index", "Manage")'>Settings Dashboard</a>
                    <a class="btn btn-secondary" href='@Url.Action("MyProfile", "Manage")'>My Profile</a>
                    <a class="btn btn-secondary" href='@Url.Action("MySettings", "Manage")'>My Settings</a>
                    <a class="btn btn-primary" href='@Url.Action("MyNotifications", "Manage")'>My Notifications</a>
                    <a class="btn btn-secondary" href='@Url.Action("FirmUsers", "Manage")'>Firm Users</a>
                    <a class="btn btn-secondary" href='@Url.Action("FirmSettings", "Manage")'>Firm Settings</a>
                    <a class="btn btn-secondary" href='@Url.Action("ClientBilling", "Manage")'>Client Billing</a>
                    <a class="btn btn-secondary" href='@Url.Action("ImportExport", "Manage")'>Import/Export</a>
                    <a class="btn btn-secondary" href='@Url.Action("CustomFields", "Manage")'>Custom Fields</a>
                    <a class="btn btn-secondary" href='@Url.Action("IntakeForms", "Manage")'>Intake Forms</a>
                    <a class="btn btn-secondary" href='@Url.Action("Workflows", "Manage")'>Workflows</a>
                    <a class="btn btn-secondary" href='@Url.Action("CaseStages", "Manage")'>Case Stages</a>
                    <a class="btn btn-secondary" href='@Url.Action("Leads", "Manage")'>Leads</a>
                </div>
            </div>
            <div class="col-10">
                <h2>
                    My Notifications
                </h2>
                @using (Html.BeginForm("MyNotifications", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h4>Email Notification Frequency <img src="~/Content/img/question_mark.svg" data-toggle="tooltip" data-placement="top" title="Tell us how often you'd like to receive activity emails. Notifications will be batched up and sent out at this frequency.<p>You won't receive an email if you have no new activity. Additionally, any changes will be reflected for all future notifications created after saving preferences."></h4>
                    <select class="form-control" id="sel1">
                        <option>Send every 5 minutes</option>
                        <option>Send every 15 minutes</option>
                        <option>Send every 30 minutes</option>
                        <option>Send every hour</option>
                        <option>Send every 2 hours</option>
                        <option>Send once a day</option>
                    </select>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"><h5>Cases</h5></th>
                                <th scope="col"><h5>Send An Email</h5></th>
                                <th scope="col"><h5>In Activity Feed</h5></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <th scope="row">A new case is added to the system</th>
                                        <td><input type="checkbox" @item.N1 data-toggle="toggle" id="1" name="c1"></td>
                                        <td><input type="checkbox" @item.N2 data-toggle="toggle" id="2" name="c2"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">An existing case is updated</th>
                                        <td><input type="checkbox" @item.N3 data-toggle="toggle" id="3" name="c3"></td>
                                        <td><input type="checkbox" @item.N4 data-toggle="toggle" id="4" name="c4"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">An open case is closed</th>
                                        <td><input type="checkbox" @item.N5 data-toggle="toggle" id="5" name="c5"></td>
                                        <td><input type="checkbox" @item.N6 data-toggle="toggle" id="6" name="c6"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">A closed case is reopened</th>
                                        <td><input type="checkbox" @item.N7 data-toggle="toggle" id="7" name="c7"></td>
                                        <td><input type="checkbox" @item.N8 data-toggle="toggle" id="8" name="c8"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">A closed case is deleted</th>
                                        <td><input type="checkbox" @item.N9 data-toggle="toggle" id="9" name="c9"></td>
                                        <td><input type="checkbox" @item.N10 data-toggle="toggle" id="10" name="c10"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">A new note is added, edited, or deleted on a case you're linked to</th>
                                        <td><input type="checkbox" @item.N11 data-toggle="toggle" id="11" name="c11"></td>
                                        <td><input type="checkbox" @item.N12 data-toggle="toggle" id="12" name="c12"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">You are added or removed from a case</th>
                                        <td><input type="checkbox" @item.N13 data-toggle="toggle" id="13" name="c13"></td>
                                        <td><input type="checkbox" @item.N14 data-toggle="toggle" id="14" name="c14"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">A contact / company is added or removed from a case you're linked to</th>
                                        <td><input type="checkbox" @item.N15 data-toggle="toggle" id="15" name="c15"></td>
                                        <td><input type="checkbox" @item.N16 data-toggle="toggle" id="16" name="c16"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">A firm user is added or removed from a case you're linked to</th>
                                        <td><input type="checkbox" @item.N17 data-toggle="toggle" id="17" name="c17"></td>
                                        <td><input type="checkbox" @item.N18 data-toggle="toggle" id="18" name="c18"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th scope="col"><h5>Calendar</h5></th>
                                        <th scope="col"><h5>Send An Email</h5></th>
                                        <th scope="col"><h5>In Activity Feed</h5></th>
                                        <th scope="col"><h5>In-App Notification <img src="~/Content/img/question_mark.svg" data-toggle="tooltip" data-placement="top" title="In-App notifications are the red 'bubbles' that appear along the tabs at the top for unread items."></h5></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">A new event is added to the system</th>
                                        <td><input type="checkbox" @item.N19 data-toggle="toggle" id="19" name="c19"></td>
                                        <td><input type="checkbox" @item.N20 data-toggle="toggle" id="20" name="c20"></td>
                                        <td><input type="checkbox" @item.N21 data-toggle="toggle" id="21" name="c21"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">An existing event is updated</th>
                                        <td><input type="checkbox" @item.N22 data-toggle="toggle" id="22" name="c22"></td>
                                        <td><input type="checkbox" @item.N23 data-toggle="toggle" id="23" name="c23"></td>
                                        <td><input type="checkbox" @item.N24 data-toggle="toggle" id="24" name="c24"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone deletes an event</th>
                                        <td><input type="checkbox" @item.N25 data-toggle="toggle" id="25" name="c25"></td>
                                        <td><input type="checkbox" @item.N26 data-toggle="toggle" id="26" name="c26"></td>
                                        <td><input type="checkbox" @item.N27 data-toggle="toggle" id="27" name="c27"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone comments on an event</th>
                                        <td><input type="checkbox" @item.N28 data-toggle="toggle" id="28" name="c28"></td>
                                        <td><input type="checkbox" @item.N29 data-toggle="toggle" id="29" name="c29"></td>
                                        <td><input type="checkbox" @item.N30 data-toggle="toggle" id="30" name="c30"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A contact views an event</th>
                                        <td><input type="checkbox" @item.N31 data-toggle="toggle" id="31" name="c31"></td>
                                        <td><input type="checkbox" @item.N32 data-toggle="toggle" id="32" name="c32"></td>
                                        <td><input type="checkbox" @item.N33 data-toggle="toggle" id="33" name="c33"></td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th scope="col"><h5>Documents</h5></th>
                                        <th scope="col"><h5>Send An Email</h5></th>
                                        <th scope="col"><h5>In Activity Feed</h5></th>
                                        <th scope="col"><h5>In-App Notification <img src="~/Content/img/question_mark.svg" data-toggle="tooltip" data-placement="top" title="In-App notifications are the red 'bubbles' that appear along the tabs at the top for unread items."></h5></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">A new document is uploaded in the system</th>
                                        <td><input type="checkbox" @item.N34 data-toggle="toggle" id="34" name="c34"></td>
                                        <td><input type="checkbox" @item.N35 data-toggle="toggle" id="35" name="c35"></td>
                                        <td><input type="checkbox" @item.N36 data-toggle="toggle" id="36" name="c36"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">An existing document is updated</th>
                                        <td><input type="checkbox" @item.N37 data-toggle="toggle" id="37" name="c37"></td>
                                        <td><input type="checkbox" @item.N38 data-toggle="toggle" id="38" name="c38"></td>
                                        <td><input type="checkbox" @item.N39 data-toggle="toggle" id="39" name="c39"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone deletes a document</th>
                                        <td><input type="checkbox" @item.N40 data-toggle="toggle" id="40" name="c40"></td>
                                        <td><input type="checkbox" @item.N41 data-toggle="toggle" id="41" name="c41"></td>
                                        <td><input type="checkbox" @item.N42 data-toggle="toggle" id="42" name="c42"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone comments on a document</th>
                                        <td><input type="checkbox" @item.N43 data-toggle="toggle" id="43" name="c43"></td>
                                        <td><input type="checkbox" @item.N44 data-toggle="toggle" id="44" name="c44"></td>
                                        <td><input type="checkbox" @item.N45 data-toggle="toggle" id="45" name="c45"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A contact views a document</th>
                                        <td><input type="checkbox" @item.N46 data-toggle="toggle" id="46" name="c46"></td>
                                        <td><input type="checkbox" @item.N47 data-toggle="toggle" id="47" name="c47"></td>
                                        <td><input type="checkbox" @item.N48 data-toggle="toggle" id="48" name="c48"></td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th scope="col"><h5>Tasks</h5></th>
                                        <th scope="col"><h5>Send An Email</h5></th>
                                        <th scope="col"><h5>In Activity Feed</h5></th>
                                        <th scope="col"><h5>In-App Notification <img src="~/Content/img/question_mark.svg" data-toggle="tooltip" data-placement="top" title="In-App notifications are the red 'bubbles' that appear along the tabs at the top for unread items."></h5></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">A new task is added</th>
                                        <td><input type="checkbox" @item.N49 data-toggle="toggle" id="49" name="c49"></td>
                                        <td><input type="checkbox" @item.N50 data-toggle="toggle" id="50" name="c50"></td>
                                        <td><input type="checkbox" @item.N51 data-toggle="toggle" id="51" name="c51"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">An existing task is updated</th>
                                        <td><input type="checkbox" @item.N52 data-toggle="toggle" id="52" name="c52"></td>
                                        <td><input type="checkbox" @item.N53 data-toggle="toggle" id="53" name="c53"></td>
                                        <td><input type="checkbox" @item.N54 data-toggle="toggle" id="54" name="c54"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone deletes a task</th>
                                        <td><input type="checkbox" @item.N55 data-toggle="toggle" id="55" name="c55"></td>
                                        <td><input type="checkbox" @item.N56 data-toggle="toggle" id="56" name="c56"></td>
                                        <td><input type="checkbox" @item.N57 data-toggle="toggle" id="57" name="c57"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A task is completed</th>
                                        <td><input type="checkbox" @item.N58 data-toggle="toggle" id="58" name="c58"></td>
                                        <td><input type="checkbox" @item.N59 data-toggle="toggle" id="59" name="c59"></td>
                                        <td><input type="checkbox" @item.N60 data-toggle="toggle" id="60" name="c60"></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A completed task is marked incomplete</th>
                                        <td><input type="checkbox" @item.N61 data-toggle="toggle" id="61" name="c61"></td>
                                        <td><input type="checkbox" @item.N62 data-toggle="toggle" id="62" name="c62"></td>
                                        <td><input type="checkbox" @item.N63 data-toggle="toggle" id="63" name="c63"></td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th scope="col"><h5>Time & Billing</h5></th>
                                        <th scope="col"><h5>Send An Email</h5></th>
                                        <th scope="col"><h5>In Activity Feed</h5></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">A new time entry / expense is added</th>
                                        <td><input type="checkbox" @item.N64 data-toggle="toggle" id="64" name="c64"></td>
                                        <td><input type="checkbox" @item.N65 data-toggle="toggle" id="65" name="c65"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">An existing time entry / expense is updated</th>
                                        <td><input type="checkbox" @item.N66 data-toggle="toggle" id="66" name="c66"></td>
                                        <td><input type="checkbox" @item.N67 data-toggle="toggle" id="67" name="c67"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone deletes a time entry / expense</th>
                                        <td><input type="checkbox" @item.N68 data-toggle="toggle" id="68" name="c68"></td>
                                        <td><input type="checkbox" @item.N69 data-toggle="toggle" id="69" name="c69"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A new invoice is added to a case you're linked to</th>
                                        <td><input type="checkbox" @item.N70 data-toggle="toggle" id="70" name="c70"></td>
                                        <td><input type="checkbox" @item.N71 data-toggle="toggle" id="71" name="c71"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">An existing invoice is updated on a case you're linked to</th>
                                        <td><input type="checkbox" @item.N72 data-toggle="toggle" id="72" name="c72"></td>
                                        <td><input type="checkbox" @item.N73 data-toggle="toggle" id="73" name="c73"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A contact views an invoice</th>
                                        <td><input type="checkbox" @item.N74 data-toggle="toggle" id="74" name="c74"></td>
                                        <td><input type="checkbox" @item.N75 data-toggle="toggle" id="75" name="c75"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone deletes an invoice on a case you're linked to</th>
                                        <td><input type="checkbox" @item.N76 data-toggle="toggle" id="76" name="c76"></td>
                                        <td><input type="checkbox" @item.N77 data-toggle="toggle" id="77" name="c77"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A payment is made on an invoice on a case you're linked to</th>
                                        <td><input type="checkbox" @item.N78 data-toggle="toggle" id="78" name="c78"></td>
                                        <td><input type="checkbox" @item.N79 data-toggle="toggle" id="79" name="c79"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A payment is refunded on an invoice on a case you're linked to</th>
                                        <td><input type="checkbox" @item.N80 data-toggle="toggle" id="80" name="c80"></td>
                                        <td><input type="checkbox" @item.N81 data-toggle="toggle" id="81" name="c81"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone shares an invoice on a case you're linked to</th>
                                        <td><input type="checkbox" @item.N82 data-toggle="toggle" id="82" name="c82"></td>
                                        <td><input type="checkbox" @item.N83 data-toggle="toggle" id="83" name="c83"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone sends a reminder on a case you're linked to</th>
                                        <td><input type="checkbox" @item.N84 data-toggle="toggle" id="84" name="c84"></td>
                                        <td><input type="checkbox" @item.N85 data-toggle="toggle" id="85" name="c85"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th scope="col"><h5>Contacts & Companies</h5></th>
                                        <th scope="col"><h5>Send An Email</h5></th>
                                        <th scope="col"><h5>In Activity Feed</h5></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">A new contact/company is added to the system</th>
                                        <td><input type="checkbox" @item.N86 data-toggle="toggle" id="86" name="c86"></td>
                                        <td><input type="checkbox" @item.N87 data-toggle="toggle" id="87" name="c87"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">An existing contact/company is updated</th>
                                        <td><input type="checkbox" @item.N88 data-toggle="toggle" id="88" name="c88"></td>
                                        <td><input type="checkbox" @item.N89 data-toggle="toggle" id="89" name="c89"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone archives a contact/company</th>
                                        <td><input type="checkbox" @item.N90 data-toggle="toggle" id="90" name="c90"></td>
                                        <td><input type="checkbox" @item.N91 data-toggle="toggle" id="91" name="c91"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone unarchives a contact/company</th>
                                        <td><input type="checkbox" @item.N92 data-toggle="toggle" id="92" name="c92"></td>
                                        <td><input type="checkbox" @item.N93 data-toggle="toggle" id="93" name="c93"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Someone deletes a company</th>
                                        <td><input type="checkbox" @item.N94 data-toggle="toggle" id="94" name="c94"></td>
                                        <td><input type="checkbox" @item.N95 data-toggle="toggle" id="95" name="c95"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A contact logs in to ethko</th>
                                        <td><input type="checkbox" @item.N96 data-toggle="toggle" id="96" name="c96"></td>
                                        <td><input type="checkbox" @item.N97 data-toggle="toggle" id="97" name="c97"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A new note is added, edited, or deleted on a contact</th>
                                        <td><input type="checkbox" @item.N98 data-toggle="toggle" id="98" name="c98"></td>
                                        <td><input type="checkbox" @item.N99 data-toggle="toggle" id="99" name="c99"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th scope="col"><h5>Firm Administration</h5></th>
                                        <th scope="col"><h5>Send An Email</h5></th>
                                        <th scope="col"><h5>In Activity Feed</h5></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">A new firm user is added</th>
                                        <td><input type="checkbox" @item.N100 data-toggle="toggle" id="100" name="c100"></td>
                                        <td><input type="checkbox" @item.N101 data-toggle="toggle" id="101" name="c101"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Firm user contact information is updated</th>
                                        <td><input type="checkbox" @item.N102 data-toggle="toggle" id="102" name="c102"></td>
                                        <td><input type="checkbox" @item.N103 data-toggle="toggle" id="103" name="c103"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">A firm user is deactivated or reactivated</th>
                                        <td><input type="checkbox" @item.N104 data-toggle="toggle" id="104" name="c104"></td>
                                        <td><input type="checkbox" @item.N105 data-toggle="toggle" id="105" name="c105"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Firm user permissions are changed</th>
                                        <td><input type="checkbox" @item.N106 data-toggle="toggle" id="106" name="c106"></td>
                                        <td><input type="checkbox" @item.N107 data-toggle="toggle" id="107" name="c107"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Items are imported into ethko</th>
                                        <td><input type="checkbox" @item.N108 data-toggle="toggle" id="108" name="c108"></td>
                                        <td><input type="checkbox" @item.N109 data-toggle="toggle" id="109" name="c109"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">Firm information is updated</th>
                                        <td><input type="checkbox" @item.N110 data-toggle="toggle" id="110" name="c110"></td>
                                        <td><input type="checkbox" @item.N111 data-toggle="toggle" id="111" name="c111"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            }
                        }

                    </table>
                    @Html.Raw("   ")<input type="submit" name="SaveButton" value="Save" class="btn btn-success" />
                }
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/toggle/bootstrap-toggle.min.js"></script>
<script src="~/Scripts/umd/popper.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })</script>