@model ethko.Models.IndexViewModel

<head>
    <script src="~/Scripts/jquery-3.4.0.slim.min.js"></script>
    <script>
    $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })</script>
    <script src="~/Scripts/umd/popper.min.js"></script>
</head>
<h2>Settings & Preferences</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Select a sub category from the menu on the left</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <a class="btn btn-default" href='@Url.Action("Index", "Manage")'>Settings Dashboard</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MyProfile", "Manage")'>My Profile</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("MySettings", "Manage")'>My Settings</a>
            <br />
            <br />
            <a class="btn btn-primary" href='@Url.Action("MyNotifications", "Manage")'>My Notifications</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("FirmUsers", "Manage")'>Firm Users</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("FirmSettings", "Manage")'>Firm Settings</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ClientBilling", "Manage")'>Client Billing</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("ImportExport", "Manage")'>Import/Export</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CustomFields", "Manage")'>Custom Fields</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("IntakeForms", "Manage")'>Intake Forms</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("Workflows", "Manage")'>Workflows</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("CaseStages", "Manage")'>Case Stages</a>
            <br />
            <br />
            <a class="btn btn-default" href='@Url.Action("Leads", "Manage")'>Leads</a>
        </dt>
        <dd><img src="~/Content/img/question_mark.svg" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></dd>
    </dl>
</div>
